# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_LAJJBOARD_LEFT

config ZMK_KEYBOARD_NAME
	default "lajjBoard"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_LAJJBOARD_LEFT || SHIELD_LAJJBOARD_RIGHT

config ZMK_SPLIT
	default y
endif